@font-face {
    font-family: 'AtkinsonHyperlegibleMono';
    src: url('./assets/fonts/AtkinsonHyperlegibleMono-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Orbitron';
    src: url('./assets/fonts/Orbitron-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'AtkinsonHyperlegibleMono';
    background-color: #d7d2cc
}

.spinner {
    width: 250px;
    height: 250px;
    perspective: 1000px;
}

.spinner img {
    width: 100%;
    transform-style: preserve-3d;
    animation: spin 4s linear infinite,
    colors 8s steps(4, jump-none) infinite;
    animation-delay: 0s, 1s;
}

@keyframes spin {
    from { transform: rotateY(0deg); }
    to   { transform: rotateY(360deg); }
}

@keyframes colors {
  0%, 24%   { filter: hue-rotate(0deg); }
  25%, 49%  { filter: hue-rotate(90deg); }
  50%, 74%  { filter: hue-rotate(180deg); }
  75%, 99%  { filter: hue-rotate(270deg); }
  100% { filter: hue-rotate(360deg); }
}

.dot {
  opacity: 0;
  animation: dots 3s infinite;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.3s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes dots {
  0%, 20% {
    opacity: 0;
  }
  30%, 80% {
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}