/* ---------------------------
   Base reset
--------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
    font-family: 'AtkinsonHyperlegibleMono';
    src: url('./assets/fonts/AtkinsonHyperlegibleMono-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
}

a.card {
  text-decoration: none;
  color: inherit;
}

body {
  /*font-family: "AtkinsonHyperlegibleMono";*/
  font-family: 'SpaceGrotesk';
  line-height: 1.5;
  color: #111;
  background: #D9D5CE;
}

.text {
  font-size: 1.25rem;
}

/* ---------------------------
   Layout
--------------------------- */

.logo {
  position: fixed;
  top: 0;
  left: -0.5rem;
  width: 42vw;
}

.page {
  padding: 2rem;
  overflow-x: hidden;
}

/* Grid container */
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1rem;
  row-gap: 3rem;
  margin-bottom: 2rem;
}

.grid-top {
  grid-auto-rows: 25vw;
}

.grid-full-text {
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.card--centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.flex-card {
  display: flex;
  flex-direction: column;

}
.spacer {
  flex-grow: 1;
}

/* Content blocks (example) */
.card {
  border: 0px solid #e5e5e5;

  /* border-radius: 6px; */
}


.image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card--wide-2 {
  grid-column: span 2;
}

.card--wide-3 {
  grid-column: span 3;
}

.card--wide-4 {
  grid-column: span 4;
}

.card--wide-5 {
  grid-column: span 5;
}

.card--extend-left {
  margin-left: -2rem;
}

.card--extend-right {
  margin-right: -2rem;
}

.card--tall-2 {
  grid-row: span 2;
}

.card--tall-3 {
  grid-row: span 3;
}

.card--tall-4 {
  grid-row: span 4;
}

.card--tall-5 {
  grid-row: span 5;
}

/* ---------------------------
   Footer
--------------------------- */

.footer {
  /*margin-top: 4rem;*/
  padding: 1rem;
  text-align: center;
  /*border-top: 1px solid #e5e5e5;*/
  display: flex;
  flex-direction: row;
  font-size: 0.875rem;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/* ---------------------------
   Breakpoints
--------------------------- */

/* Tablet (still 5 columns) */
@media (max-width: 1280px) {
  .page {
    padding: 1.5rem;
  }

  .grid {
    column-gap: 1rem;
    row-gap: 2.5rem;
    grid-auto-rows: 25vw;
  }
}

/* Mobile (2 columns) */
@media (max-width: 860px) {
  .page {
    padding: 1rem;
  }

  .logo {
    position: static;
    width: 100%;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    /*gap: 0.5rem;*/
  }

  .footer-sep {
    display: none;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 2.5rem;
    grid-auto-rows: minmax(60vw, auto);
  }

  /*.card--wide-2 {*/
  /*  grid-column: span 1;*/
  /*}*/
  .card--wide-2,
  .card--wide-3,
  .card--wide-4,
  .card--wide-5 {
    grid-column: span 2;
  }

  /*.card--tall-2 {*/
  /*  grid-row: span 1;*/
  /*}*/
  .card--tall-2,
  .card--tall-3,
  .card--tall-4,
  .card--tall-5{
    grid-row: span 2;
  }
}
